/* dark theme */

html {
  --mui-theme-palette-common-black: #000000;
  --mui-theme-palette-common-white: #ffffff;

  --mui-theme-palette-primary-main: #de4343;
  --mui-theme-palette-primary-light: rgb(228,104,104);
  --mui-theme-palette-primary-dark: rgb(155,46,46);
  --mui-theme-palette-primary-contrastText: #ffffff;

  --mui-theme-palette-secondary-main: #43dede;
  --mui-theme-palette-secondary-light: rgb(104,228,228);
  --mui-theme-palette-secondary-dark: rgb(46,155,155);
  --mui-theme-palette-secondary-contrastText: rgba(0,0,0,0.87);
  
  --mui-theme-palette-error-main: #f44336;
  --mui-theme-palette-error-light: #e57373;
  --mui-theme-palette-error-dark: #d32f2f;
  --mui-theme-palette-error-contrastText: #ffffff;

  --mui-theme-palette-warning-main: #ffa726;
  --mui-theme-palette-warning-light: #ffb74d;
  --mui-theme-palette-warning-dark: #f57c00;
  --mui-theme-palette-warning-contrastText: rgba(0,0,0,0.87);

  --mui-theme-palette-info-main: #29b6f6;
  --mui-theme-palette-info-light: #4fc3f7;
  --mui-theme-palette-info-dark: #0288d1;
  --mui-theme-palette-info-contrastText: rgba(0,0,0,0.87);

  --mui-theme-palette-success-main: #66bb6a;
  --mui-theme-palette-success-light: #81c784;
  --mui-theme-palette-success-dark: #388e3c;
  --mui-theme-palette-success-contrastText: rgba(0,0,0,0.87);

  --mui-theme-palette-gray-50: #fafafa;
  --mui-theme-palette-gray-100: #f5f5f5;
  --mui-theme-palette-gray-200: #eeeeee;
  --mui-theme-palette-gray-300: #e0e0e0;
  --mui-theme-palette-gray-400: #bdbdbd;
  --mui-theme-palette-gray-500: #9e9e9e;
  --mui-theme-palette-gray-600: #757575;
  --mui-theme-palette-gray-700: #616161;
  --mui-theme-palette-gray-800: #424242;
  --mui-theme-palette-gray-900: #212121;
  --mui-theme-palette-gray-A100: #f5f5f5;
  --mui-theme-palette-gray-A200: #eeeeee;
  --mui-theme-palette-gray-A400: #bdbdbd;
  --mui-theme-palette-gray-A500: #616161;
  
  --mui-theme-palette-text-primary: #ffffff;
  --mui-theme-palette-text-secondary: rgba(255, 255, 255, 0.7);
  --mui-theme-palette-text-disabled: rgba(255, 255, 255, 0.5);
  --mui-theme-palette-text-icon: rgba(255, 255, 255, 0.5);

  --mui-theme-palette-divider: rgba(255,255,255,0.12);
  
  --mui-theme-palette-background-default: #121212;
  --mui-theme-palette-background-paper: #3a3939;

  --mui-theme-shape-border-raduis: 5px;
}
