@import url("./dark.css");

.navigationPanel {
    list-style: none;
    margin: 0px;
    padding: 0px;

    display: flex;
    flex-direction: row;
    gap: 30px;
}

.navigationButton {
    width: fit-content;
    height: 30px;
    background-color: var(--md-sys-color-primary-container);
    padding: 5px;
    border-radius: 5px;
    color: var(--md-sys-color-on-primary-container);
}